<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niuchaoqun.springboot.security.mapper.PermissionMapper">
    <select id="selectByRoleIds" resultType="Permission">
        SELECT * FROM permission p
        LEFT JOIN role_permission rp ON p.id = rp.permission_id
        WHERE rp.role_id IN
        <foreach collection="list" item="id" index="roleIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
